    * {
        box-sizing: border-box;
        /* font family */
        font-family: 'Raleway', sans-serif;
    }
    
    body {
        margin: 0;
        background-size: cover;
        background-attachment: fixed;
        padding: 15px 20px;
        text-align: center;
        display: flex;
        flex-flow: column;
    }
    /*Estilos Generales*/
    
    .flex-cv {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
    }
    
     ::placeholder {
        color: #fff;
    }
    /*Estilos Para El Login*/
    
    .login {
        background-image: url(../img/fondo4.jpg);
        background-size: cover;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .cuadro_login {
        height: 500px;
        width: 650px;
        border: 5px solid;
        background: #f6f6f6c2;
        border-color: #000000;
    }
    
    .cuadro_login p {
        font-weight: bold;
        color: #000000;
        margin: 0;
        text-align: center;
    }
    
    .inputlogin {
        width: 300px;
        height: 45px;
        border-radius: 7px;
        border-color: #000000;
        background-color: #ffffff;
        outline: none;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    
    .botonlogin {
        width: 300px;
        height: 45px;
        border-radius: 7px;
        border-color: #000000;
        background-color: #3f00eb;
        color: #fff;
    }
    
    .botonlogin:hover {
        background-color: #2c00a3;
    }
    
    .form-group {
        padding-top: 30px;
    }
    
    .flex-cv {
        padding-top: 80px;
    }